#myModal {
    display: none;
}

#addCard {
    background-color: aliceblue;
}

#addCard a.close-reveal-modal {
    position: relative;
    top: auto;
    color: #fff;
    font-size: 0.6875rem;
}

#cardsList .attributes p {
    font-size: 0.6875rem;
}

#decksList a.deckDelete {
    display: none;
}